<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <connectionStrings>
    <add name="ExpenseTrackerDBEntities" connectionString="metadata=res://*/ExpenseTrackerModel.csdl|res://*/ExpenseTrackerModel.ssdl|res://*/ExpenseTrackerModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LKSRIWL-859TNN2\SQLEXPRESS;initial catalog=ExpenseTrackerDB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ExpenseTrackerDB" connectionString="metadata=res://*/ExpenseTracker.csdl|res://*/ExpenseTracker.ssdl|res://*/ExpenseTracker.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LKSRIWL-859TNN2\SQLEXPRESS;initial catalog=ExpenseTrackerDB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>